@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);.header {
    padding: 15px 0;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    background-color: hsl(0, 0%, 100%)
}

.header__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.9375rem;
    margin-right: -.9375rem
}

.logo {
    display: flex;
    align-items: center;
    width: calc(16.66667% - 1.875rem);
    text-decoration: none!important;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: .9375rem;
    margin-right: .9375rem
}

.logo__image {
    margin-right: 16px;
    width: 42px
}

.logo__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #333
}

.header__right {
    width: calc(83.33333% - 1.875rem);
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: .9375rem;
    margin-right: .9375rem
}

.navbar {
    text-align: right
}

.btn {
    outline: none;
    background: 0 0;
    border: none;
    cursor: pointer;
    transition: .34s;
    border-radius: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: proxima nova lt;
    font-weight: 600;
    text-transform: uppercase
}

.btn.disabled {
    filter: grayscale(100%);
    pointer-events: none
}

.btn_blue {
    background-color: #5cbafb;
    background-image: linear-gradient(-93deg,#03b8ff,#03b8ff 1%,#0278ff 99%,#0278ff);
    box-shadow: 0 0 45px 2px rgba(36,153,228,.4)
}

.btn_blue,.btn_blue:hover {
    color: #fff
}

.btn_trans {
    position: relative;
    color: #fff;
    border: 1px solid hsla(0,0%,100%,.2)
}

.btn_trans:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: .34s;
    border-radius: 50px;
    background-color: #0086ff;
    background-image: linear-gradient(270deg,#0278ff 0,#0278ff 1%,#03b8ff 99%,#03b8ff)
}

.btn_trans:hover {
    color: #fff;
    border-color: #03b8ff;
    box-shadow: 0 0 15px 1px rgba(36,153,228,.5);
    opacity: .99
}

.btn_trans:hover:before {
    opacity: 1
}

.btn_orange {
    padding: 0 22px;
    color: #fff;
    background: linear-gradient(90deg,#f5bc00,#f99709);
    box-shadow: 0 0 40px -10px #f1a540
}

.btn__icon {
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 28px
}

.burger {
    display: none;
    padding: 7px;
    position: relative;
    z-index: 2
}

.burger span {
    position: relative;
    display: block;
    width: 29px;
    height: 4px;
    transition: .34s;
    border-radius: 2px;
    background: #333
}

.burger span+span {
    margin-top: 4px
}

.burger.active span:first-child {
    transform: rotate(45deg);
    top: 8px;
    width: 34px
}

.burger.active span:last-child {
    transform: rotate(-45deg);
    top: -8px;
    width: 34px
}

.burger.active span:nth-child(2) {
    opacity: 0
}

.navbar__wrapper {
    display: grid;
    align-items: center
}

.nav {
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(36px,min-content));
    -moz-column-gap: 60px;
    column-gap: 60px;
    width: 100%;
    justify-content: flex-start
}

.nav__link {
    padding: 10px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 44px;
    text-align: center;
    color: #5d5d5d;
    text-decoration: none!important;
    text-transform: uppercase
}

.nav__link.router-link-exact-active.router-link-active,.nav__link:hover {
    color: #1e1d1d
}

.nav__link-mob {
    display: none
}

@media screen and (max-width: 75rem) {
    .nav,.navbar__wrapper {
        -moz-column-gap:24px;
        column-gap: 24px
    }

    .nav__link {
        font-size: 13px
    }
}

@media screen and (max-width: 62rem) {
    .header {
        padding:15px 0 10px
    }

    .header__body {
        align-items: center
    }

    .burger {
        display: inline-block;
        z-index: 1000
    }

    .nav {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        background-color: hsla(0,0%,100%,.6);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 128px
    }

    .nav.active {
        opacity: 1;
        visibility: visible;
        z-index: 999
    }

    .nav.active .nav__link {
        opacity: 1;
        transition: opacity .5s
    }

    .nav__link {
        opacity: 0;
        transition: opacity .3s;
        display: block;
        font-size: 15px;
        text-transform: none
    }

    .nav__link:not(:last-child) {
        margin-bottom: 10px
    }

    .nav__link.active:before {
        display: none
    }

    .nav__link-mob {
        display: block
    }
}

@media screen and (max-width: 48rem) {
    .btn__icon {
        width:36px;
        height: 36px;
        margin-right: 15px
    }
}

.footer[data-v-549a0d78] {
    height: 4.6875rem;
    display: flex;
    align-items: center;
    margin-top: 7rem
}

.footer__container[data-v-549a0d78] {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-column-gap: 50px
}

.footer__links[data-v-549a0d78] {
    display: grid;
    text-align: right
}

.footer__link[data-v-549a0d78] {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #000;
    text-decoration: none!important
}

.footer__text[data-v-549a0d78] {
    font-weight: 400;
    font-size: 14.3px;
    line-height: 22px;
    text-align: center;
    color: rgba(0,0,0,.38)
}

.footer__image[data-v-549a0d78] {
    margin-top: 1rem;
    max-width: 100%;
    height: auto
}

@media(max-width: 1280px) {
    .footer__container[data-v-549a0d78] {
        grid-column-gap:3.125rem;
        -moz-column-gap: 3.125rem;
        column-gap: 3.125rem
    }

    .footer__links[data-v-549a0d78] {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        align-items: center
    }
}

@media(max-width: 1024px) {
    .footer[data-v-549a0d78] {
        height:auto;
        padding: 1rem 0
    }

    .footer__container[data-v-549a0d78] {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        row-gap: 2rem
    }

    .footer__container>.logo[data-v-549a0d78] {
        justify-self: center
    }

    .footer__links[data-v-549a0d78] {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        align-items: center
    }

    .footer__container[data-v-549a0d78] {
        grid-row-gap: 1rem;
        row-gap: 1rem
    }

    .footer__links[data-v-549a0d78] {
        grid-template-columns: 1fr
    }

    .footer__link[data-v-549a0d78]:nth-child(3) {
        margin-top: .5rem
    }

    .footer__link[data-v-549a0d78]:first-child,.footer__link[data-v-549a0d78]:nth-child(2) {
        font-weight: 400
    }
}

@font-face {
    font-family: Miriam Libre;
    src: url(../fonts/MiriamLibre-Bold.d64d33b1.eot);
    src: local("Miriam Libre Bold"),local("MiriamLibre-Bold"),url(../fonts/MiriamLibre-Bold.d64d33b1.eot?#iefix) format("embedded-opentype"),url(../fonts/MiriamLibre-Bold.8f7aa1f8.woff2) format("woff2"),url(../fonts/MiriamLibre-Bold.c8ab2b53.woff) format("woff"),url(../fonts/MiriamLibre-Bold.137f46cc.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Miriam Libre;
    src: url(../fonts/MiriamLibre-Regular.bdedf5b7.eot);
    src: local("Miriam Libre Regular"),local("MiriamLibre-Regular"),url(../fonts/MiriamLibre-Regular.bdedf5b7.eot?#iefix) format("embedded-opentype"),url(../fonts/MiriamLibre-Regular.031fb0dc.woff2) format("woff2"),url(../fonts/MiriamLibre-Regular.0c71eda2.woff) format("woff"),url(../fonts/MiriamLibre-Regular.4340f6c1.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

#app,html {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    color: #1e1d1d;
    background: #eceef7;
    text-decoration: none!important;
    margin: 0
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem
}

@media screen and (max-width: 75rem) {
    .container {
        max-width:64rem
    }
}

@media screen and (max-width: 62rem) {
    .container {
        max-width:43.125rem
    }
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 101vh;
    min-height: 700px;
    padding-top: 80px;
    background-image: url(../img/background.b5747bfa.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 2
}

.main_title {
    font-size: 104px;
    color: #fff;
    text-shadow: 0 4px 150px rgba(255,0,0,.25);
    margin-top: 120px
}

.main_title,.main_title>span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 127px;
    display: flex;
    align-items: center
}

.main_title>span {
    background: linear-gradient(354.55deg, #000000 23.07%, #000000 82.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0 4px 150px rgba(255,0,0,.25);
    margin-left: -30px;
    z-index: -1
}

.main_description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: hsla(0, 0%, 0%, 0.4)
}

.main_play-button {
    background: linear-gradient(261.4deg,rgba(203, 203, 203, 0.8) 9.44%,rgba(255, 255, 255, 0.65) 24.66%,hsla(0, 0%, 49%, 0.8) 45.77%);
    border-radius: 12px;
    width: 307px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    animation: pulse 2s linear infinite
}

@keyframes pulse {
    0% {
        transform: scale(.9)
    }

    50% {
        transform: scale(1.1)
    }

    to {
        transform: scale(.9)
    }
}

.main_play-button:hover {
    box-shadow: 0 4px 140px rgba(179,76,103,.2);
    transform: scale(1.03)!important;
    animation: none
}

.main_play-button__text {
    font-weight: 900;
    font-size: 21px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff
}

.main_play-button__icon {
    margin-left: .5rem;
    width: 21px;
    height: 21px
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (max-width: 576px) {
    .main {
        overflow:hidden
    }

    .main_title {
        font-size: 55px
    }

    .main_title>span {
        margin-left: -16px
    }

    .main_description {
        font-size: 17px
    }
}

.start-play_title {
    font-weight: 300;
    font-size: 48px;
    line-height: 28px;
    align-items: center;
    color: #353535;
    margin-top: 27px
}

.start-play_title>span {
    font-weight: 900
}

.start-play__steps {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    margin-top: 22px
}

.start-play__steps .block {
    transform: skew(360deg);
    background: hsla(0,0%,100%,.4);
    box-shadow: -7px 9px 38px rgba(0,0,0,.1);
    border-radius: 25px;
    max-height: 80vh
}

.start-play__steps .block__body {
    padding: 30px
}

.start_play-step {
    position: relative
}

.start_play__icon {
    min-height: 275px;
    display: flex;
    justify-content: center;
    align-items: center
}

.start_play__icon img {
    width: 300px;
    height: 183px
}

.start_play-step__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    margin-top: -20px;
}

.start_play-step__line {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 313px;
    height: 3px;
    background: #d9d9d9;
    border-radius: 200px
}

.start_play-step__desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #000;
    margin-bottom: 48px
}

.start_play-step__desc>a {
    font-size: 20px;
    text-align: center;
    color: #4e4e4e
}

.start_play-step__button {
    height: 68px;
    background: radial-gradient(100% 1094.39% at 100% 0,#000000 0,#000000 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-size: 21px;
    font-weight: 500;
    transition: transform .2s ease;
    text-decoration: none!important
}

.start_play-step__button:hover {
    box-shadow: 0 4px 140px rgba(179,76,103,.2);
    transform: scale(1.03)!important
}

@media (max-width: 576px) {
    .start-play__steps {
        display:flex;
        flex-direction: column
    }

    .start-play__steps .block {
        transform: skew(180deg);
        margin-top: 20px
    }

    .start_play-step__line {
        margin: 17px 0;
        width: 280px
    }

    .start_play-step__desc {
        font-size: 16px;
        line-height: 14px
    }

    .start_play-step__button {
        height: 49px
    }

    .start-play_title {
        font-size: 31px;
        line-height: 24px
    }
}

.social-info {
    background: url(../img/social_title_background.6218d70b.png) center -3.75rem/449px 423px no-repeat,url(../img/social_background.b21ff78e.png) center 23.25rem/1920px 285px no-repeat;
    display: flex
}

.social-info_subscribe {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25.9096px;
    line-height: 32px;
    color: #000
}

.social-info_desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18.2891px;
    line-height: 22px;
    color: rgba(0,0,0,.8)
}

.social-info__items {
    gap: 22px;
    height: 370px;
    position: relative;
    z-index: 5;
    flex-wrap: wrap
}

.social-info__item,.social-info__items {
    display: flex;
    align-items: center;
    justify-content: center
}

.social-info__item {
    background: #fff;
    border-radius: 6.09637px;
    width: 262px;
    height: 260.62px;
    flex-direction: column;
    transition: all .3s
}

.social-info__item:hover {
    background: #c2c2c2;
    border-radius: 6.42143px;
    color: #fff;
    box-shadow: 0 4px 140px rgba(179,76,103,.2);
    transform: scale(1.03)!important
}

.social-info_icon {
    padding: 55px 0
}

.social-info__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 107px;
    margin-bottom: 100px
}

.social-info_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 28.91px;
    text-align: center;
    color: #fff;
    z-index: 100
}

.social-info_text>span {
    background: linear-gradient(180deg,#000000 18.94%,#000000 54.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 54px;
    position: relative;
    z-index: -1
}

@media (max-width: 576px) {
    .social-info {
        background:url(http://localhost:8080/img/social_title_background.6218d70b.png) center -3.75rem/395px 389px no-repeat,url(http://localhost:8080/img/social_background.b21ff78e.png) center 69.25rem/576px 272px no-repeat
    }

    .social-info__items {
        height: auto
    }

    .social-info_text {
        font-size: 35px;
        line-height: 22.91px
    }

    .social-info_text>span {
        font-size: 35px
    }
}

.shop-item_text[data-v-050d5ad2] {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-top: 1.25rem;
    color: #353535
}

.item-text__back[data-v-050d5ad2] {
    top: 19px;
    left: -3px;
    width: 100%;
    position: absolute;
    color: #ffffff00;
    -webkit-text-stroke: 1px rgba(0,0,0,.2)
}

.shop-cards_items[data-v-050d5ad2] {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 1.875rem;
    height: 28rem
}

.shop-cards_items[data-v-050d5ad2]::-webkit-scrollbar {
    height: .5851851852vh;
    margin-top: .1851851852vh;
    min-height: 2px
}

.shop-cards_items[data-v-050d5ad2]::-webkit-scrollbar-track,[data-v-050d5ad2]::-webkit-scrollbar-track-piece {
    background: hsla(0,0%,77%,.1)
}

.shop-cards_items[data-v-050d5ad2]::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background: #353535
}

.shop-cards_items[data-v-050d5ad2]::-webkit-scrollbar-thumb:hover {
    background: #353535
}

.shop-card_item[data-v-050d5ad2] {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 3px solid hsla(0,0%,54%,.4);
    box-shadow: 0 4px 60px rgba(0,0,0,.1);
    border-radius: 25px;
    align-items: center;
    height: 26rem
}

.shop-card__title[data-v-050d5ad2] {
    font-weight: 300;
    font-size: 19px;
    display: flex;
    align-items: center
}

.shop-card__desc[data-v-050d5ad2] {
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center
}

.shop-card__image img[data-v-050d5ad2] {
    width: 19rem;
    height: 18rem
}

.shop-card__buy[data-v-050d5ad2] {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 10px
}

.shop-card__buy-button[data-v-050d5ad2] {
    display: flex;
    background: radial-gradient(101.4% 1255.37% at 94.04% 33.33%,#000000 0,rgba(255, 255, 255, 0.8) 49.96%,#cf5953 100%);
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    border-radius: 25px;
    padding: 11px 30px;
    cursor: pointer;
    border: none;
    font-weight: 300;
    font-size: 21px;
    align-items: center;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
    transition: transform .2s ease
}

.shop-card__buy-button[data-v-050d5ad2]:hover {
    box-shadow: 0 4px 140px rgba(179,76,103,.2);
    transform: scale(1.03)!important
}

.shop-card-price[data-v-050d5ad2] {
    font-weight: 500;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-shadow: 0 4px 4px hsla(0,0%,47%,.25)
}

.shop-card__buy-button img[data-v-050d5ad2] {
    margin-right: 8px
}

.payment__overlay[data-v-050d5ad2] {
    display: flex;
    align-items: center;
    justify-content: center
}

.modal-overlay[data-v-050d5ad2] {
    background-color: rgba(30,29,29,.24);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4999
}

.payment__wrapper[data-v-050d5ad2] {
    width: 24.5625rem;
    background-color: #fff;
    min-height: 18.75rem;
    position: relative;
    margin-bottom: .5625rem;
    border: 2px solid rgba(0,0,0,.19);
    border-radius: 15px;
    padding: 4.5625rem 2rem 4rem
}

.modal-close-button[data-v-050d5ad2] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none
}

.payment_title[data-v-050d5ad2] {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #3a3333
}

.payment_title>span[data-v-050d5ad2] {
    font-weight: 800;
    font-size: 24px;
    color: #000
}

.payment_title[data-v-050d5ad2]:after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 27.3rem;
    width: 86%;
    border: 1px solid #251d1d
}

.payment_body[data-v-050d5ad2] {
    margin-top: 30px
}

.form__inputs[data-v-050d5ad2] {
    display: grid;
    grid-row-gap: 1rem;
    row-gap: 1rem
}

.select[data-v-050d5ad2] {
    position: relative;
    width: 100%;
    line-height: 1.1875rem;
    padding: .5rem;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: .25rem;
    outline: none;
    border: .0625rem solid transparent;
    font-weight: 600;
    cursor: pointer
}

.input[data-v-050d5ad2] {
    display: flex;
    position: relative;
    border: 1px solid #545454;
    border-radius: 8px;
    align-items: center;
    padding: 0 15px
}

.input>select[data-v-050d5ad2] {
    padding: 1rem;
    width: 100%;
    border: 0;
    outline: none
}

.input__element[data-v-050d5ad2] {
    width: 100%;
    line-height: 1.1875rem;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: .25rem;
    outline: none;
    border: .0625rem solid transparent;
    font-weight: 600
}

.error-info[data-v-050d5ad2] {
    text-align: end;
    font-size: 16px;
    font-weight: 700;
    color: #d54848
}

.form__buttons[data-v-050d5ad2] {
    margin-top: 3rem;
    text-align: center
}

.submit-button[data-v-050d5ad2] {
    line-height: 3.25rem;
    background: linear-gradient(268.67deg,#f267b7 34.86%,#ff5e00 96.95%);
    border-radius: 10px;
    box-shadow: 0 1.6875rem 4rem -1rem rgba(195,0,255,.64);
    width: 100%;
    font-size: 20px;
    color: #fff;
    transition: all .1s;
    border: none;
    cursor: pointer
}

.forbes__container[data-v-75ace842] {
    margin-top: 60px
}

.forbes__content[data-v-75ace842] {
    margin-top: 4rem
}

.forbes__top[data-v-75ace842] {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 7.75rem
}

.forbes__title[data-v-75ace842] {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000
}

.top-item[data-v-75ace842] {
    max-width: 18.4375rem
}

.forbes__top .top-item[data-v-75ace842]:first-child,.forbes__top .top-item[data-v-75ace842]:last-child {
    margin-top: 10.6875rem
}

.top-item__position[data-v-75ace842] {
    font-size: 64px;
    line-height: 84px;
    color: #f7bb1d
}

.top-item__nickname[data-v-75ace842],.top-item__position[data-v-75ace842] {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: 700;
    text-align: center
}

.top-item__nickname[data-v-75ace842] {
    font-size: 30px;
    line-height: 53px;
    color: #000
}

.top-item__balance[data-v-75ace842] {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 47px;
    text-align: center;
    color: #000
}

.top-item__rect[data-v-75ace842] {
    height: 19.625rem;
    overflow: hidden
}

.forbes__list[data-v-75ace842] {
    display: grid;
    grid-row-gap: 16px;
    margin-top: 30px
}

.forbes-item[data-v-75ace842] {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.forbes-item__position[data-v-75ace842] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    text-align: center
}

.forbes-item__username[data-v-75ace842] {
    font-weight: 450;
    font-size: 25px
}

.forbes-item__server[data-v-75ace842] {
    font-weight: 400;
    font-size: 25px
}

.forbes-item__balance[data-v-75ace842] {
    text-align: right;
    font-weight: 300;
    font-size: 25px
}
        